/* General styles for other pages */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
}

/* Styles specific for login page */
body.login-page {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Hace que el body ocupe toda la altura de la ventana */
}

body.login-page .login-container {
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

body.login-page h1 {
    text-align: center;
    margin-bottom: 20px;
}

body.login-page .input-group {
    margin-bottom: 20px; /* Incrementa el margen inferior para más espacio */
}

body.login-page .input-group label {
    display: block;
    margin-bottom: 5px;
}

body.login-page .input-group input {
    width: 100%; /* Ajusta el ancho al contenedor */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px; /* Añade un margen superior para separación */
    box-sizing: border-box; /* Asegura que el padding y borde estén incluidos en el width */
}

body.login-page button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

body.login-page button:hover {
    background-color: #218838;
}

body.login-page p {
    text-align: center;
    margin-top: 20px;
}

body.login-page p a {
    color: #007bff;
    text-decoration: none;
}

body.login-page p a:hover {
    text-decoration: underline;
}

/* Media query for mobile devices */
@media (max-width: 600px) {
    #articulos {
        flex-direction: column;
        align-items: center;
    }

    article {
        width: 100%;
    }
}

/* Styles for articles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background: #007bff;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

h1 {
    margin: 0;
}

.articulo-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

article {
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

article h2 {
    margin-bottom: 10px;
    color: #007bff;
}

input[type="text"], input[type="number"], input[type="date"], textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

footer {
    text-align: center;
    padding: 20px;
    background: #007bff;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
